src/by/it/snegurskiy/jd02_07/xml_class/ad.dtd

<!ELEMENT Persons (Person)+>
<!ELEMENT Person (Email, Nickname, Password, Ads)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Nickname (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT Ads (Ad)+>
<!ELEMENT Ad (Description, Addres, Flat, Flats, Price, Area)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Addres (#PCDATA)>
<!ELEMENT Flat (#PCDATA)>
<!ELEMENT Flats (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Area (#PCDATA)>
