src/by/it/snegurskiy/jd02_08/user.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Users (User)+>
<!ELEMENT User (Surname, Name, Login, Password, Account)>
        <!ATTLIST User
                login ID #REQUIRED
                >
<!ELEMENT Surname (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Login (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT Account (Balance)>
<!ELEMENT Balance (#PCDATA)>
