src/by/it/aborisenok/JD02_07/xml_classwork/ad.dtd

<!ELEMENT Persons (Person)+>
    <!ELEMENT Person (Email, Nickname, Password, Ads)>
    <!ELEMENT Email (#PCDATA)>
    <!ELEMENT Nickname (#PCDATA)>
    <!ELEMENT Password (#PCDATA)>
<!ELEMENT Ads (ad)+>
    <!ELEMENT ad (Description, Address, Flat, Flats, Price, Area)>
        <!ELEMENT Description (#PCDATA)>
        <!ELEMENT Address (#PCDATA)>
        <!ELEMENT Flat (#PCDATA)>
        <!ELEMENT Flats (#PCDATA)>
        <!ELEMENT Price (#PCDATA)>
        <!ELEMENT Area (#PCDATA)>
