src/by/it/opiga/JD_07/orders.dtd

<!ELEMENT orders (order)+>
<!ELEMENT order (client,discription)>
        <!ELEMENT client (FIO, passport, adress,phone)>
        <!ELEMENT FIO (#PCDATA)>
        <!ELEMENT passport (#PCDATA)>
        <!ELEMENT adress (#PCDATA)>
        <!ELEMENT phone (#PCDATA)>
        <!ELEMENT discription (category,arrive,leave,payment)>
        <!ELEMENT category (#PCDATA)>
        <!ELEMENT arrive (#PCDATA)>
        <!ELEMENT leave (#PCDATA)>
        <!ELEMENT payment (#PCDATA)>
