src/by/it/prymshyts/jd02/jd02_07/catalog.dtd

<!ELEMENT catalog (genre+)>
    <!ELEMENT genre (book+)>
        <!ELEMENT book (title, authors, year, count)>
            <!ELEMENT title (#PCDATA)>
            <!ELEMENT authors (author+)>
                <!ELEMENT author (#PCDATA)>
            <!ELEMENT year (#PCDATA)>
            <!ELEMENT count (#PCDATA)>

<!ATTLIST genre name CDATA #REQUIRED>